<ion-header>
  <ion-toolbar>
    <ion-title>Sate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/ab.jpeg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Sate Kambing</p>
      <p>
        Bahan-bahan
500gram daging kambing
10buah bawang merah
5siung bawang putih
1sdm ketumbar
2butir kemiri
1/2buah gula jawa
2batang asam jawa
seukuran jempol jahe digeprek
3lembar daun jeruk
1/2sdt garam
50ml kecap manis
2sdm minyak goreng
Langkah
1. Haluskan bawang merah, bawang ptih, kemiri, ketumbar, gula jawa dan garam. Masukan 3/4bumbu ke daging yg sudah dipotong-potong. Beri irisan dau jeruk, jahe dan asam jawa. Remas-remas agar bumbu meresap. Diamkan di kulkas 30menit.
2. Tusuk dengan tusuka sate lalu bakar di bara hingga setengah matang. Olesi dengan sisa bumbu halus, kecap manis dan minyak. Bakar lagi hingga matang
3. Sajikan sate bersama sambal kecap, irisan kol dan tomat sebagai pelengkap

      </p>
    </ion-row>

</ion-content>
