<ion-header>
  <ion-toolbar>
    <ion-title>
      About Dapur Coorma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/aa.jpeg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>
      Aplikasi ini adalah aplikasi resep makanan yang sedang trending. yang di namakan aplikasi Dapur Coorma . semoga dengan aplikasi ini variasi makanan di dapur semakin berwarna
    </p>
</ion-content>
