<ion-header>
  <ion-toolbar>
    <ion-title>Nasi Goreng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/aa.jpeg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Nasi Goreng Spesial</p>
      <p>
        Bahan:
Nasi 600 gr
Daging ayam 125 g, cincang halus
Telur 1 butir, kocok
Bawang merah 5 siung
Bawang putih 3 siung
Cabai merah 3 buah
Daun bawang 1 batang, iris halus
Kecap manis 2 sdm
Garam 1 sdt
Merica 1 sdt
Minyak
Cara membuat:
Masukkan bawang merah, bawang putih, dan cabai merah ke dalam cobek kemudian haluskan.
Goreng telur menjadi orak-arik lalu sisihkan.
Bumbu yang telah dihaluskan kemudian di tumis dengan minyak secukupnya.
Tumis terus hingga harum.
Masukkan ayam cincang, telur, dan daun bawang ke dalam bumbu.
Tumis lagi hingga merata.
Tambahkan kecap, garam, dan merica. Aduk hingga rata.
Baru kemudian masukkan nasi dan aduk hingga rata.
Nasi goreng telah jadi dan sajikan pada piring saji.

      </p>
    </ion-row>

</ion-content>
