<ion-header>
  <ion-toolbar>
    <ion-title>Lumpia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/ad.jpeg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Lumpia Semarang</p>
      <p>
        Bahan-bahan Lumpia Semarang 
Kulit Lumpia 10 lembar (siap pakai)
Rebung 250 gram (iris korek api) bisa juga memakai rebung kalengan
Daging udang kupas 50 gram (cincang halus)
Daging ayam 200 gram (cincang halus)
Telur 2 butir (buat orak arik)
Kaldu bubuk 1 sendok teh (bisa disesuaikan dengan selera)
Garam secukupnya
Gula pasir secukupnya
Kecap manis secukupnya
Air 100 mililiter
Putih telur secukupnya (digunakan sebagai perekat)
Bumbu Halus Lumpia Semarang Isi Ayam Rebung
Bawang merah 4 butir
Bawang putih 3 siung
1/4 sendok teh merica butiran
Langkah langkah
Langkah awal rebus rebung hingga empuk, jika anda memakai rebung kalengan direbus beberapa kali ya, bertujuan agar baunya hilang.
Selanjutnya tumis bumbu halus, masukkan udang cincang, aduk hingga berubah warna, masukkan air, rebung, orak arik telur, dan bumbu-bumbu lainnya. Aduk hingga rata, lalu masak hingga meresap dan kering. Dinginkan.
Langkah selanjutnya ambil selembar kulit lumpia, lalu isi dengan bahan isi secukupnya, lipat dan gulung rapi. Rekatkan sisi-sisinya dengan putih telur.
Setelah itu goreng lumpia didalam minyak panas hingga matang. Angkat tiriskan.

      </p>
    </ion-row>

</ion-content>
