<ion-header>
  <ion-toolbar>
    <ion-title>Soto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/ac.jpeg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Soto Kudus</p>
      <p>
        Bahan-bahan	
1 ekor ayam kampung
2 ltr air
2 lbr daun salam
2 batang sere, grprek
3 lbr daun jeruk
3 cm laos, geprek
1 batang daun bawang, iris halus
Secukupnya gula merah, garam, lada bubuk dan kaldu jamur
Bumbu Halus
5 bh bawang merah
9 bh bawang putih
5 bh kemiri
2 cm kunyit bakar
3 cm jahe
1/2 sdm ketumbar
1/4 sdt jinten
Bahan Pelengkap
Tauge seduh air panas
Seledri, iris halus
Bawang putih goreng
Jeruk nipis
Kecap
Sambel cabe rawit
Langkah	
1. Rebus air hingga mendidih, masukan ayam rebus menggunakan api kecil hingga ayam empuk

  
2.Haluskan bumbu dan siapkan bahan yang lain

3.Soto Ayam Kudus langkah memasak 2 foto
  
4.Tumis bumbu halus hingga harum tambahkan daun salam, sere dan laos, aduk sebentar lalu tuang ke dalam air rebusan ayam, kemudian tambahkan garam, gula merah, lada bubuk, kaldu jamur dan daun bawang

5.Soto Ayam Kudus langkah memasak 3 foto
  
6.Angkat ayam, goreng sebentar lalu suwir2

  
Penyelesaian :Tata nasi di dalam mangkok beri bahan pelengkap dan siram dengan kuah soto

Soto Ayam Kudus langkah memasak 5 foto
Sajikan selagi panas..ini enak banget dan seger

      </p>
    </ion-row>

</ion-content>
